<section class="home">
    <img src="https://images.unsplash.com/photo-1691510718694-45bb0c8f1525?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2022&q=80" alt="Image of a cat sleeping on a couch inside the wings of a butterfly a space rocket ready to launch in the middel of the streets in the background.">

    <div class="homecontent">
        <h1>Beyond Reality</h1>
        <a routerLink="gallery" class="btn btn-lg btn-dark">Discover My Gallery</a> &nbsp;
        <a routerLink="contact" class="btn btn-lg btn-primary">Commission Request</a>
    </div>
    <div class="about-it">
        <h2>What is it about?</h2>
        <p>
          It's about a goal that is so unrealistic that one mistakenly phrase it as "a dream". It's about working towards a destination that is so far up high, so impossible to reach that you have to become another being in order to archive it. It's about a story of the small caterpillar who had a goal to fly one day.
        </p>
      </div>      
</section>
